html {
    background-image: url("resources/background.jpg");
    color: black;
}

body {
    margin: 0;
}

header {
    color: white;
    background-color: rgba(253,39,8,255);
    display: grid;
    grid-template-columns: 1fr 0.1fr 1.9fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "heading logo nav"
    "motto motto ."; 
}

h1 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 35px;
    word-spacing: 6px;
    justify-self: center;
}

p {
    text-align: left;
    font-size: large;
    margin: 10px; 
}

.logo {
    justify-self: start;
    grid-area: logo;
}

.heading {
    justify-self: center;
    grid-area: heading;
}

.motto {
    grid-area: motto;
    justify-self: center;
}

nav {
    grid-area: nav;
    justify-self: center;
}

.logo, .heading, .motto, nav {
    align-self: center; 
    text-align: center;
}