html {
    background-image: url("resources/background.jpg");
    color: black;
}

body {
    margin: 0;
}

header {
    color: white;
    background-color: rgba(253,39,8,255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
    "logo1 heading logo2"
    "logo1 motto logo2"; 
}

h1 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: xx-large;
    margin: 10px;
}

p {
    text-align: left;
    font-size: large;
    margin: 10px; 
}

.logo1 {
    grid-area: logo1;
}

.logo2 {
    grid-area: logo2;
}

.heading {
    grid-area: heading;
}

.motto {
    grid-area: motto;
}

.logo1, .heading, .logo2, .motto {
    justify-self: center; 
    align-self: center; 
}