html {
  background-image: url("resources/background.jpg");
}

body {
  margin: 0;
}

header {
  display: grid;
  background-color: rgba(253, 39, 8, 255);
  grid-template-columns: 0.6fr 2.4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo heading nav";
}

nav {
  margin: 10px;
  grid-area: nav;
  justify-self: end;
}

p {
  font-size: 20px !important;
  font-family: "Roboto", serif;
  margin: 5px;
  text-align: left;
  font-size: large;
}

h1 {
  font-size: 30px;
  font-family: "Merriweather", serif;
  word-spacing: 6px;
  text-align: center;
  margin: 30px auto;
}

img {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

li {
  font-family: "Roboto", serif;
  font-size: 20px;
}

td {
  padding-right: 40px;
  font-family: "Merriweather", serif; 
}

header a {
  text-decoration: none;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
  color: white;
}

.cumrades {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

.logo {
  margin: 10px;
  justify-self: start;
  grid-area: logo;
}

.logo,
nav {
  align-self: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-container p {
  text-align: center;
}

.flex-container div {
  width: 25%;
}